

body {
    background-color: slategray;
    color: white;
    text-align: center;
}

header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header p {
    font-size: 5rem;
    margin: 0;
    padding: 0;
}

.say {
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hello {
    font-family: cursive;
}

.user-info {
    margin-top: 50px;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    border-radius: 7px;
    border-style: none;
}

input:focus {
    border: solid 5px #00FFCE;
    outline: none;
}

.user-input {
    padding: 4px;
    width: 300px;
    height: 40px;
    color: black;
    font-size: 1.4rem;    
    text-align: center;
}
 
#greet {
    margin: 40px;
    padding: 10px;
    width: 200px;
    background-color: palevioletred;
    font-size: 1.1rem;
}

#greet:hover {
    background-color: mediumvioletred;
}
